<ion-header>
  <ion-toolbar>
    <ion-title>claims</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-menu-button></ion-menu-button>
    <div class="features">
        <div class="feature-numbered">
        <div class="num">1</div>
        
        <h2 class="feature-title">Step 1</h2>
        
        <p>Certified copy of Death certificate issued by Department of Home Affairs</p>
        </div>
        
        <div class="feature-numbered">
        <div class="num">2</div>
        
        <h2 class="feature-title">Step 2</h2>
        
        <p>Certified copy of the deceased’s ID document</p>
        </div>
        
        <div class="feature-numbered">
        <div class="num">3</div>
        
        <h2 class="feature-title">Step 3</h2>
        
        <p>Certified ID copy of the beneficiary and a police report (only if death is due to an accident)</p>
        </div>
        
        <div class="feature-numbered">
        <div class="num">4</div>
        
        <h2 class="feature-title">Step 4</h2>
        
        <p>Email documents to insurance@occasionsnet.co.za</p>
        </div>
        </div>
</ion-content>
