

<ion-content >
    
  <ion-card>
    <ion-menu-button></ion-menu-button>
    <ion-img class="b" src="assets/images/novasonlogo.jpeg"></ion-img>
      
    
    <ion-row>
        <ion-col>
            <div class="c">
                <ion-card-content >
                    <ion-img src="assets/images/login.png"></ion-img>
                  
                  <a href="/login">LOGIN</a>
                </ion-card-content>
            </div>
        </ion-col>
        <ion-col>
            <div class="d">   
                <ion-card-content >
                    <ion-img src="assets/images/product.png"></ion-img>
                    <a href="/products">PRODUCTS</a>
                </ion-card-content>
              </div>
        </ion-col>
        <ion-col>
          <div class="e">
              <ion-card-content href="#" class="activated">
                  <ion-img src="assets/images/shopping-cart.png"></ion-img>
                  <a href="/buynow2">BUY NOW</a>
              </ion-card-content>
          </div>
        </ion-col>
       
      </ion-row>

      <ion-row>
          <ion-col>
              <div class="c">
                  <ion-card-content href="#" class="activated">
                      <ion-img src="assets/images/claim.png"></ion-img>
                      <a href="/claims">CLAIMS</a>
                  </ion-card-content>
              </div>
          </ion-col>
          <ion-col>
              <div class="d">   
                  <ion-card-content href="#" class="activated">
                      <ion-img src="assets/images/phone.png"></ion-img>
                      <a href="/contacts">CONTACTS</a>
                  </ion-card-content>
                </div>
          </ion-col>
          <ion-col>
            <div class="e">
                <ion-card-content href="#" class="activated">
                    <ion-img src="assets/images/information.png"></ion-img>
                    <a href="/help">HELP</a>
                </ion-card-content>
            </div>
          </ion-col>
         
        </ion-row>

  </ion-card>
  
  
</ion-content>
