<ion-header>
  <ion-toolbar>
    <ion-title>contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-menu-button></ion-menu-button>
    <div class="widget-area">
        <div class="container">
        <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="widget">
        <h3 class="widget-title">Contact</h3>
        
        <address>OCCASIONS NET™<br>
        2nd Floor The Innovation Factory<br>
        Cnr Allan Cormack And Mark Shuttleworth Street<br>
        The Innovation Hub<br>
        Lynnwood Pretoria East 0087</address>
        <a href="tel:0127715633">Phone: 012 771 5633</a><br>
        <a href="mailto:info@company.com">info@occasionsnet.co.za </a></div>
        </div>
        
        <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="widget">
        <h3 class="widget-title">Company</h3>
        
        <ul class="no-bullet">
          <li><a href="about.html">About us</a></li>
          <li><a href="contact.html">Infoline</a></li>
          <li><a href="contact.html">Join us</a></li>
        </ul>
        </div>
        </div>
        
        <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="widget">
        <h3 class="widget-title">Products</h3>
        
        <ul class="no-bullet">
          <li><a href="/catering">Catering Benefit</a></li>
          <li><a href="insurance.html">Wedding Investment plan</a></li>
          <li><a href="life.html">Netlife Funeral plan</a></li>
          <li><a href="/legal">Legal Assist</a></li>
          <li><a href="insurance.html">Medical Assist</a></li>
        </ul>
        </div>
        </div>
        </div>
        </div>
        </div>
</ion-content>
