

<ion-content >
    
  <ion-card>
      <ion-menu-button></ion-menu-button>
      <ion-img  src="assets/images/novasonlogo.jpeg"></ion-img>
      <ion-card-content >
          <ion-row>
              <ion-col class="">
                      <ion-img class="a" src="assets/images/beef.png"></ion-img>
          
              </ion-col>
              <ion-col>
                      <b>  <a href="/cash-payout">Cash Payout</a></b>
              </ion-col>
              <ion-col>
                  
              </ion-col>
              
          </ion-row>
           
          </ion-card-content>
          <ion-row>
                  <ul type="square">
                          <h4><u>Single member with or without children.</u></h4>
                          <h5>Age: 66-74</h5>
                          <li> R75/month. </li>

                          <h4><u>Single member with or without children.</u></h4>
                          <h5>Age: 18-65</h5>
                          <li> R160/month. </li>
                          
                          <h4><u>Family Cover: Main Member & Spouse</u></h4>
                          <h5>Age: 18-65</h5>
                          <li> R100/month. </li>

                          <h4><u>Family Cover: Main Member & Spouse</u></h4>
                          <h5>Age: 66-74</h5>
                          <li> R250/month. </li>
                       
                  </ul>
          </ion-row>
       
  </ion-card>
  
  
</ion-content>

