<ion-header>
  <ion-toolbar>
    <ion-title>catering</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="insurance-content">
        <div class="insurance-icon"></div>
        
        <h3 class="insurance-title">CATERING FUNERAL PLAN</h3>
        
        <p>This is a service that allows our clients to relax instant of doing the catering themselves or having the community or extended family helping them to cook meals. Our team of qualified professional chefs come and do catering, we bring you R 7000 groceries and bring catering equipment such as mobile kitchen, cooler, warmers, cutlery and serving dishes, mobile toilet and many more catering benefits...</p>
        <a class="button" href="/resource">See details</a></div>
</ion-content>
