

<ion-content >
    
    <ion-card>
            <ion-menu-button></ion-menu-button>
              <ion-img class="b" src="assets/images/novasonlogo.jpeg"></ion-img>
        
              <label class="label">PRODUCTS</label>
      <ion-row>
          <ion-col>
              <div class="c">
                  <ion-card-content >
                      <ion-img src="assets/images/money.png"></ion-img>
                    
                    <a href="/cash-payout">Cash Payout</a>
                  </ion-card-content>
              </div>
          </ion-col>
          <ion-col>
              <div class="d">   
                  <ion-card-content >
                      <ion-img src="assets/images/cow.png"></ion-img>
                      <a href="/beef">Beef Benefit</a>
                  </ion-card-content>
                </div>
          </ion-col>
          <ion-col>
            <div class="e">
                <ion-card-content href="#" class="activated">
                    <ion-img src="assets/images/groceries.png"></ion-img>
                    <a href="/grocery">Grocery Benefit</a>
                </ion-card-content>
            </div>
          </ion-col>
         
        </ion-row>
  
        <ion-row>
            <ion-col>
                <div class="c">
                    <ion-card-content href="#" class="activated">
                        <ion-img src="assets/images/buffet.png"></ion-img>
                        <a href="/catering">Catering benefit</a>
                    </ion-card-content>
                </div>
            </ion-col>
            <ion-col>
                <div class="c">   
                    <ion-card-content href="#" class="activateds">
                        <ion-img src="assets/images/box.png"></ion-img>
                        <a href="/global">Global cover</a>
                    </ion-card-content>
                  </div>
            </ion-col>
           <ion-col></ion-col>
           
          </ion-row>
  
    </ion-card>
    
    
  </ion-content>
  