

<ion-content >
    
  <ion-card>
          <ion-menu-button></ion-menu-button>
            <ion-img class="b" src="assets/images/background.jpeg"></ion-img>
      
            
    <ion-row>
        <ion-col></ion-col>
        <ion-col>
            <div class="c">
                <ion-card-content >
                    <ion-img src="assets/images/money.png"></ion-img>
                  
                  <a href="/buynow2">Cash Payout</a>
                </ion-card-content>
            </div>
        </ion-col>
        <ion-col></ion-col>
       
      </ion-row>

      
      <ion-row>
          <ion-col></ion-col>
        <ion-col>
          <div class="c">
            
             <button>Select ></button>
            
          </div>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
     

      <ion-row>
        <ion-col></ion-col>
          <ion-col>
              <div class="c">
                <ion-card-content >
                  <ion-img src="assets/images/cow.png"></ion-img>
                  <a href="/beef">Beef Benefit</a>
              </ion-card-content>
              </div>
          </ion-col>
          <ion-col></ion-col>
         
        </ion-row>

        <ion-row>
            <ion-col></ion-col>
          <ion-col>
            <div class="c">
              
               <button href="/buynow2">Select ></button>
              
            </div>
            
          </ion-col>
          <ion-col></ion-col>
        </ion-row>

  </ion-card>
  
  
</ion-content>
