ion-card{ 
    width: 100%;
}
ion-card-content{ background-color:white; width: 110px; 
border: 1px solid;
border-color: navy;
border-radius : 10px; 

}
// label {padding: 10px 5px 20px;}
// .a{width: 800px;}

.c {padding: 8px 0px 20px;}
.d {padding: 8px 5px 20px;}
.e {padding: 8px 8px 20px;}

.g {height: 10px;}
