

<ion-content >
    
    <ion-card>
        <ion-menu-button></ion-menu-button>
        <ion-img  src="assets/images/novasonlogo.jpeg"></ion-img>
        <ion-card-content >
            <ion-row>
                <ion-col class="">
                        <ion-img class="a" src="assets/images/money.png"></ion-img>
            
                </ion-col>
                <ion-col>
                        <b>  <a href="/cash-payout">Cash Payout</a></b>
                </ion-col>
                <ion-col>
                    
                </ion-col>
                
            </ion-row>
             
            </ion-card-content>
            <ion-row>
                    <ul type="square">
                            <h4><u>Single member with or without children.</u></h4>
                            <h5>Age: 18-64</h5>
                            <li>  R40/month R5 000 </li>
                            <li>   R50/month R7 000</li>
                            <li>   R60/month R8 000</li>
                            <li> R70/month R9 000</li>
                            <li>   R100/month R10 000</li>
                            <li>  R120/month R15 000</li>
                            <li> R190/month R20 000</li>
                            <li> R240/month R30 000</li>
                            <br>
                            <h4> Single member with or without children.</h4>
                            
                            <h5>  Age: 66-74</h5>
                            <li> R90/month R5 000</li>
                            <li> R124/month R7 000</li>
                            <li> R140/month R8 000</li>
                            <li> R154/month R9 000</li>
                            <li> R172/month R10 000</li>
                            <li> R262/month R15 000</li>
                            <li> R344/month R20 000</li>
                            <li>  R462/month R30 000</li>
                            
                            <h4>Single member with or without children.</h4>
                             <h5> Age: 75-85</h5>
                             <li> R164/month R5 000</li>
                             <li> R216/month R7 000</li>
                             <li>  R246/month R8 000</li>
                             <li>  R278/month R9 000</li>
                             <li> R310/month R10 000</li>
                            <li>  R392/month R15 000</li>

                            <h4>Single member with or without children.</h4>
                            <h5> Age: 86-90</h5>
                            <li>R290/month R5 000</li>
                             <li> R390/month R10 000</li>
                                
                        <h3>Cover up to 7 kids with extended family at an additional cost per extended member</h3>        

                            <h4>Family cover: Main Member & Spouse including children under 21 years</h4>
                            <h5>Age: 18-64</h5>
                            <li>R50/month R5 000</li>
                            <li> R66/month R7 000</li>  
                            <li> R76/month R8 000</li>  
                            <li>   R90/month R9 000</li>  
                            <li>   R100/month R10 000</li>  
                            <li>    R140/month R15 000</li>  
                            <li> R200/month R20 000</li>  
                            <li> R280/month R30 000</li>  
                                
                        <h4>Family cover: Main Member & Spouse including children under 21 years</h4>
                        <h5> Age: 66-74</h5>
                            <li>   R150/month R5 000</li>
                            <li>R210/month R7 000</li>
                            <li>R240/month R8 000</li>
                            <li> R268/month R9 000</li>
                            <li> R294/month R10 000</li>
                            <li>R444/month R15 000</li>
                                
                        <h3>Cover up to 7 kids with extended family at an additional cost per extended member</h3>
                                
                       

                    </ul>
            </ion-row>
          <ion-row>
              <ion-col>
                  <div class="d">   
                      <ion-card-content class="round" >
                          <ion-img class="a" src="assets/images/shopping-cart.png"></ion-img>
                          <a href="/buynow">Buy now</a>
                      </ion-card-content>

                     

                    </div>
                    
              </ion-col>
              <ion-col>
                  <div class="d">
                      <ion-card-content class="round" >
                         <ion-img class="a" src="assets/images/phone.png"></ion-img>
                         <a href="/contact">Call me</a>
                     </ion-card-content>

                   </div>
              </ion-col>
              <ion-col>
                  <div class="d">
                      <ion-card-content class="round" >
                         <ion-img class="a" src="assets/images/phone.png"></ion-img>
                         <a href="/quote">Quote</a>
                     </ion-card-content>

                   </div>
              </ion-col>
              <ion-col>
                    
                </ion-col>
          </ion-row>
    </ion-card>
    
    
  </ion-content>
  