ion-card{ 
    width: 100%;
}
ion-card-content{ background-color:white; 


}
ion-list{
    display:list-item;
}
.a{ width: 40px;}
.round {border:1px solid; border-radius : 50%;
    background-color:#104E8B	;height: 10%; }
// .c {padding: 8px 0px 100px;}


